<%- include('../partials/head', {title}) %>
<body>
  <%- include('../partials/navigation', {nav}) %>

  <main class="container">
    <% if (vehicle) { %>
      <h1><%= vehicle.inv_year %> <%= vehicle.inv_make %> <%= vehicle.inv_model %></h1>
      
      <img src="<%= vehicle.inv_image %>" alt="<%= vehicle.inv_make %> <%= vehicle.inv_model %>">
      
      <div class="vehicle-details">
        <p>
          <strong>Price:</strong> 
          <span class="price">$<%= vehicle.inv_price.toLocaleString() %></span>
        </p>
        
        <p>
          <strong>Color:</strong> 
          <%= vehicle.inv_color %>
        </p>
        
        <p>
          <strong>Mileage:</strong> 
          <%= vehicle.inv_miles.toLocaleString() %> miles
        </p>
        
        <p>
          <strong>Description:</strong>
        </p>
        <p class="description">
          <%= vehicle.inv_description %>
        </p>
        <section class="vehicle-details">
        
          <div class="review-link">
            <a href="/inv/<%= vehicle.inv_id %>/reviews" class="button">📝 Read or Write Reviews</a>
          </div>
        </section>        
      </div>
    <% } else { %>
      <p class="error">Vehicle not found</p>
    <% } %>
  </main>

  <%- include('../partials/footer') %>
</body>
</html>